.image-bear {
    width: 200px;
}

#name1 {
    background-color: gray;
    padding-top: 120px;
    height: 80px;
    width: 200px;
    margin-right: 100px;
}
#name2 {
    background-color: darkgray;
    padding-top: 80px;
    height: 120px;
    width: 200px;
}
#name3 {
    background-color: lightgray;
    padding-top: 40px;
    height: 160px;
    width: 200px;
    margin-left: 100px;
}

.inline-block {
    display: inline-block;
}