.box {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    display: inline-block;
}
#box1, #box4 {
    border-radius: 10px 60px;
}
#box2, #box3 {
    border-radius: 60px 10px;
}

.movie {
    width: 500px;
    height: 180px;
    border: 1px solid #999999;
    padding: 10px;
    margin-bottom: 20px;
}
.sqimg {
    width: 120px;
    float: right;
}
.movie:hover .sqimg{
    float: left;
}
.movie:hover {
    box-shadow: 10px 10px 5px #999999;
}